<!DOCTYPE html>
<html>
<head>
    <title>Hover Meaning Demo</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h2>Hover over words 👇</h2>

<div>
    <label><input type="checkbox" id="eng" checked> English</label>
    <label><input type="checkbox" id="hin" checked> Hindi</label>
</div>

<p id="text">
 Artificial intelligence is the simulation of human learning.
 <form>
    <label>Type here:</label>
    <input type="text" id="userInput"><br><br>

    <input type="submit" value="Submit">
    </form>
</p>

<div id="popup"></div>

<script src="/static/script.js"></script>
</body>
</html>